.twoBlocksContainer {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  height: 250px;
  position: absolute;
  bottom: 50px;
  width: 100%;

  .firstBlock {
    background: #212631;
    width: 60%;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    column-gap: 4px;

    .blockForAvatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      width: 28%;

      .avatarStyleHeader {
        width: 110px;
        border-radius: 100%;
      }

      .helloSpanHeader {
        color: black;
        background-color: #e5e5e5;
        border-radius: 15px;
        padding: 10px 10px;
        font-size: 15px;
      }
    }

    .contentBlock {
      display: flex;
      flex-direction: column;
      padding: 5px 25px;
      height: 100%;
      justify-content: space-between;

      .titleInBlock {
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        column-gap: 8px;

        .iconInBlockHeart {
          font-size: 20px;
          color: #e80620;
        }

        .iconInBlockSun {
          font-size: 20px;
          color: #e8bb06;
        }
      }

      .percent {
        color: white;
        font-size: 80px;
      }

      .describeInBlock {
        color: white;
        width: 250px;
        font-size: 15px;
      }
    }
  }

  .secondBlock {
    width: 28%;
    border-radius: 40px;
    background-color: #4744C3;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .avatarBoy {
      width: 120px;
      position: absolute;
      border-radius: 100%;
      top: -100px;
      right: -80px;
      transform: rotateZ(30deg);
      animation: boyAvatarAnimation 8s infinite;
    }

    .spanNearBoyAvatar {
      color: white;
      width: 200px;
    }

    .starsImage1, .starsImage2, .starsImage3, .starsImage4, .starsImage5 {
      width: 50px;
      position: absolute;
      top: 10px;
      left: 20px;
    }

    .starsImage2 {
      top: 40px;
      left: 70px;
    }

    .starsImage3 {
      top: 90px;
      left: 20px;
    }

    .starsImage4 {
      top: 180px;
      left: 90px;
    }

    .starsImage5 {
      top: 160px;
      left: 150px;
    }
  }
}

@keyframes boyAvatarAnimation {
  0% {
    top: -100px;
    right: -80px;
  }
  50% {
    transform: rotateZ(0deg);
    top: 20px;
    right: 20px;
  }
  100% {
    transform: rotateZ(0deg);
    top: 20px;
    right: 20px;
  }
}
