.wrapperContainer {
 justify-content: center;
  margin: auto;
display: flex;
  padding: 0 20px;
  &>div{
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
