.containerJobGuarantee {
  display: flex;
  flex-direction: column;;
  margin-top: 40px;
  margin-bottom: 50px;

  .topJobGuarantee {
    background-color: #CCE7E9;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    padding: 25px 5px;
    box-shadow: 0px 0px 5px 2px rgba(192, 192, 192, 0.3);

    .leftJobGuarantee {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      width: 60%;


      .titleJobGuarantee {
        font-size: 24px;
        width: 400px;
        color: black;

        .pink {
          color: #e70551;
        }
      }

      .contentJobGuarantee {
        width: 400px;
        font-size: 16px;
        color: black;
        text-shadow: 0px 0px 1px #383636;
      }

      .btnJobGuarantee {
        transition: 125ms ease;
        margin-top: 20px;
        width: 400px;
        border: none;
        padding: 8px 10px;
        background: linear-gradient(135deg, #D5006D, #FF4081);
        color: white;
        font-size: 16px;
        border-radius: 8px;

        &:hover {
          cursor: pointer;
          background: linear-gradient(135deg, #D5006D, #e82c6c);
        }

        &:hover {
          cursor: not-allowed;
        }
      }
    }

    .rightJobGuarantee {

      .money {
        width: 250px;
      }
    }
  }

  .bottomJobGuarantee {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .first {
      width: 42%;
      background-color: #5955F4;
    }

    .second {
      width: 28%;
      background-color: #212631;
    }

    .third {
      width: 28%;
      background-color: #212631;
    }

    .first, .second, .third {
      border-radius: 40px;
      padding: 10px 20px;
      height: 290px;
      box-shadow: 0px 0px 5px 2px rgba(192, 192, 192, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .percentJobGuarantee {
        color: white;
        font-size: 45px;
      }

      .contentJobGuarantee {
        color: white;
        font-size: 19px;
        margin-top: 20px;
      }
    }
  }
}
