.vacanciesBlockContainer {
  width: 49%;
  height: 200px;
  border-radius: 30px;
  background-color: #f5f6fa;
  position: relative;
  overflow: hidden;
  transition: 400ms;
  cursor: pointer;
  @media (max-width: 700px) {
    width: 100%;
  }

  &:hover {
    .top {
      filter: blur(30px);
    }

    .bottom {
      .bottomTop {
      }

      background-color: rgba(184, 206, 255, 0.76);
      top: 0%;

      h4 {
      }

      p {
        opacity: 1;
      }
    }
  }

  .top {
    padding: 20px;
    left: 0px;
    transition: 400ms;
    @media (max-width: 700px) {
      padding: 15px;
      padding-bottom: 5px;
    }
    .miniBlock {
      padding: 7px 12px;
      width: min-content;
      border-radius: 15px;
      background: white;
      color: black;

      &.black {
        background: black;
        color: white;
      }
    }
  }

  .bottom {
    .bottomTop {
      color: #464e62;
      padding-bottom: 15px;
    }

    border-radius: 30px;
    position: absolute;
    padding: 20px;
    left: 0px;
    top: 40%;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: 400ms;
    @media (max-width: 700px) {
      padding: 15px;
    }
    h4 {
      font-size: 40px;
      @media (max-width: 700px) {
        font-size: 30px;
      }
    }

    p {
      transition: 400ms;
      opacity: 0;
    }
  }
}

.imageVacance {
  width: 90px;
  position: absolute;
  right: 80px;
}
